[submodule "Afro"]
	path = graphics-packs/Afro
	url = https://github.com/DFGraphics/Afro-Graphics

[submodule "CLA"]
	path = graphics-packs/CLA
	url = https://github.com/DFGraphics/CLA

[submodule "GemSet"]
	path = graphics-packs/GemSet
	url = https://github.com/DFGraphics/GemSet

[submodule "Ironhand"]
	path = graphics-packs/Ironhand
	url = https://github.com/DFGraphics/Ironhand

[submodule "Jolly-Bastion"]
	path = graphics-packs/Jolly-Bastion
	url = https://github.com/DFGraphics/Jolly-Bastion

[submodule "Mayday"]
	path = graphics-packs/Mayday
	url = https://github.com/DFGraphics/Mayday

[submodule "Obsidian"]
	path = graphics-packs/Obsidian
	url = https://github.com/DFgraphics/Obsidian

[submodule "Phoebus"]
	path = graphics-packs/Phoebus
	url = https://github.com/DFgraphics/Phoebus

[submodule "Spacefox"]
	path = graphics-packs/Spacefox
	url = https://github.com/DFgraphics/Spacefox

[submodule "Taffer"]
	path = graphics-packs/Taffer
	url = https://github.com/DFgraphics/Taffer

[submodule "Tergel"]
	path = graphics-packs/Tergel
	url = https://github.com/DFgraphics/Tergel

[submodule "Wanderlust"]
	path = graphics-packs/Wanderlust
	url = https://github.com/DFgraphics/Wanderlust
