[submodule "Afro"]
	path = Afro
	url = https://github.com/DFGraphics/Afro-Graphics

[submodule "CLA"]
	path = CLA
	url = https://github.com/DFGraphics/CLA

[submodule "GemSet"]
	path = GemSet
	url = https://github.com/DFGraphics/GemSet

[submodule "Ironhand"]
	path = Ironhand
	url = https://github.com/DFGraphics/Ironhand

[submodule "Jolly-Bastion"]
	path = Jolly-Bastion
	url = https://github.com/DFGraphics/Jolly-Bastion

[submodule "Mayday"]
	path = Mayday
	url = https://github.com/DFGraphics/Mayday

[submodule "Obsidian"]
	path = Obsidian
	url = https://github.com/DFgraphics/Obsidian

[submodule "Phoebus"]
	path = Phoebus
	url = https://github.com/DFgraphics/Phoebus

[submodule "Spacefox"]
	path = Spacefox
	url = https://github.com/DFgraphics/Spacefox

[submodule "Taffer"]
	path = Taffer
	url = https://github.com/DFgraphics/Taffer

[submodule "Tergel"]
	path = Tergel
	url = https://github.com/DFgraphics/Tergel

[submodule "Wanderlust"]
	path = Wanderlust
	url = https://github.com/DFgraphics/Wanderlust
